.mainbox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    border-radius: 5px;
    min-height: clamp(50dvh, 60dvh, 70dvh);
    margin: 15dvh;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px;
}

.about-text {
    text-align: center;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

.about-text a {
    text-decoration: none;
}

#raven {
    color: red;
}

#raven:hover{
    letter-spacing: 0.1em;
    transition: 0.5s;
}

.rot-img {
    width: 2em;
}