.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px;
    padding: 1dvw 1dvw;
}

.temp{
    letter-spacing: -0.1em;
    font-size: 1.7em;
}

.about:hover{
    letter-spacing: 0em;
    transition: 0.8s;
    color: rgb(238, 54, 84)
}